$primaryColor:#000000;
$secondaryColor:#333333;
$lightColor:#555555;
$lighter:rgb(202, 199, 199);
$bgColor:#F72210;
$font-roboto-condensed:"Roboto Condensed",sans-serif;
$font-stack-arial:Arial,Helvetica,sans-serif;
$titleColor: rgba(3,3,3,0.4);
$culturebg:#f4f5f6;
$break-small:36rem;
$break-tablet:768px;
$break-large:1024px;
