$primaryColor:#000000;
$secondaryColor:#333333;
$lightColor:#555555;
$bgColor:#F72210;
$font-roboto-condensed:"Roboto Condensed",sans-serif;
$font-stack-arial:Arial,Helvetica,sans-serif;
$titleColor: rgba(3,3,3,.4);