//****************************************  MIXIN   ****************************************************************************
@mixin typo($family,$size,$weight,$colorvar){
    color:$colorvar;
    font:{
        size:$size;
        family: $family;
        weight:$weight;
      
    }
}