//****************************************  MIXIN   ****************************************************************************
@mixin typo($family,$size,$weight,$colorvar){
    color:$colorvar;
    font:{
        size:$size;
        family: $family;
        weight:$weight;
      
    }
}
@mixin hover-action($decoration,$tcolor){
text-decoration: $decoration;
text-decoration-color: $tcolor;
}