//***************************** BUTTON  ********************************************************************
header{
    background: $bgColor;
    padding:1rem;
    font: {
        size: 1.6rem;
        family:$font-roboto-condensed;
    }
   .row{
       div{
           .btn{
               font: {
                   family:$font-roboto-condensed;
                   size: 1.8rem;
               }
           }
       }
   }
}