//***************************** BUTTON  ********************************************************************
header{
    background: $bgColor;
    padding:1rem;
    font: {
        size: 1.6rem;
        family:$font-roboto-condensed;
    }
   .row{
       div{
           .sign-in-btn{
            position: relative;
            left:19rem;
    @include typo($font-roboto-condensed,1.7rem,bold,$bgColor);
             
           }
           .subscribe-btn{
            background: white;
            color:red;
    @include typo($font-roboto-condensed,1.7rem,bold,$bgColor);
    position: relative;
    left:19rem;
    svg{
        width:0.8rem;
        fill:red;
    }
        }
       }
   }
}