// **************************   IMAGES  ***********************************************
.more-story-container .row .col-4 img{
    height:30rem;
}

.latest-news .row .col-3  img{
width:10rem;
                }

a{
    color:black;
  
}
a{
    &:hover{
        color:$bgColor;
        text-decoration: none;
    }
}