// **************************   IMAGES  ***********************************************
.more-story-container
{ 
    .row {
        border-top:1px solid $lighter;
        @include padding(2rem null null null);
        .col-4{
           
        }
    }

}
.opinion-container{
.row{
    border-bottom:1px solid $lighter;
    @include padding(2rem null 1rem null);
}
}
.latest-news 
    {
.row .col-3 
{
        img{
        
            }

 }
}
a{
    color:black;
  
}
a{
    &:hover{
        color:$bgColor;
        text-decoration: none;
    }
}
