.footer-top {

    .brand svg,
    p,
    ul {
        margin-bottom: 12px;
    }

    .brand svg {
        margin-right: 15px;
        width: 236px;
        fill: red;
    }

    p {
        font-size: 12px;
        line-height: 12px;
    }

    ul {
        padding: 0;

        li {
            margin-right: 10px;

            svg {
                height: 26px;
                fill: #555;
            }
        }
    }

}

.footer-links {
    padding-top: 6px;

    label {
        margin-right: 15px;

        margin-top: 2px;
    }

    .menu {
        padding: 0;
        margin: 0;

        :nth-last-child(1) {
            border-right: none;
        }

        li {
            display: flex;
            align-items: center;
            max-height: 15px;
            padding-right: 10px;
            margin: 6px 10px 6px 0;

           
        }
    }
}

