.story-heading{
    width:26rem;
    @include typo($font-roboto-condensed,1.6rem,bold,$secondaryColor);
}
.news-heading{
    @include typo($font-roboto-condensed,2.4rem,none,$primaryColor);
    
}

.news-paragraph{
    @include typo($font-stack-arial,1.5rem,none,$secondaryColor);
}

.picture-heading{
    @include typo($font-roboto-condensed,1.7rem,bold,$bgColor);
    @include position(relative,-4rem null);
    @include padding(1rem 1rem);
    background: rgb(253, 248, 248);
    width:30%;

}
.more-story-heading{
    @include typo($font-roboto-condensed,1.4rem,bold,$primaryColor);
}
.more-story-paragraph{

    @include typo($font-roboto-condensed,1.4rem,none,$secondaryColor);
}
.culture-travel{
    @include padding(1rem null);
    background: rgb(247, 246, 246);

    h4{
           @include typo($font-stack-arial,2rem,bold,#272727);
    }
    p{
        @include typo($font-stack-helvetica,1.5rem,none,#272727);
    }
    a{
        @include typo($font-stack-helvetica,1.3rem,none,#272727);
        background: #dad7d7;
        @include padding(0.5rem 1rem);
        &:hover{
            background: #5f5f5f;
        }
    }
}
.features-world-container{
    .features-world-row{
        .features-world-col{
            h2{
                @include typo($font-roboto-condensed,1.6rem,bold,$bgColor);
            }
            a{
                @include typo($font-roboto-condensed,1.8rem,bold,$primaryColor);
            &:hover{
                text-decoration: underline;
                text-decoration-color: red;
            }
            }
        }
    }
}
.editors-pic-container{
    .editors-row{
        .editors-column{
            a{
                @include typo($font-roboto-condensed,2.1rem,bold,$primaryColor);
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: red;
                }
            }
            p{
                @include typo($font-stack-arial,1.5rem,none,$primaryColor);
            }
        }
    }
}
.slideshow-column{
    @include typo($font-roboto-condensed,2.1rem,bold,$primaryColor);
}
.us-col{
    @include typo($font-roboto-condensed,2.1rem,bold,$primaryColor);
    @include padding(1rem 1rem);
    border-bottom:solid 0.1rem $lighter;
    .side-row{
        @include typo($font-roboto-condensed,1.4rem,bold,$primaryColor); 
        @include padding(1rem 1rem);
        border-bottom:solid 0.1rem $lighter;
    }
}
.news-letter1{
     @include padding(4rem 1rem);
    margin-bottom: 3rem;
    background: rgb(221, 220, 220);
    width:105%;
    h5{
        @include typo($font-roboto-condensed,2.1rem,bold,$primaryColor); 
        position: relative;
        left:-8rem;
        width:130%;
    }
    .btn{
        background: $bgColor;
        @include typo($font-roboto-condensed,2.1rem,none,none);
        border:none;
&:hover{
    background-color: rgb(134, 3, 3);
}
        svg{
            width:1rem;
        }
    }
    p{
        position: relative;
        left:-8rem;
        @include typo($font-stack-helvetica,1.5rem,none,$primaryColor); 
    }
    img{
        &:nth-child(2){
            position: relative;
            top:1rem;
            left:-10rem;
        }
        &:nth-child(1){
            @include padding( null 0 null 7rem); 
        }
    }
}
.news-letter2{
   // @include padding(4rem 3rem);
    // width:90%;
    margin-bottom: 3rem;
    img{
        height:30.6rem;
    }
    h5{
        @include typo($font-roboto-condensed,2.1rem,bold,$primaryColor); 
        
        left:-8rem;
        width:130%;
    }
    .btn{
        background: $bgColor;
        @include typo($font-roboto-condensed,2.1rem,none,none);
        border:none;

        &:hover{
            background-color: rgb(134, 3, 3);
        }
        svg{
            width:1rem;
           
        }
    }
    p{
        
        left:-8rem;
        @include typo($font-stack-helvetica,1.5rem,none,$primaryColor); 
    }
}
.newsletter-subscription h1{
    
    @include typo($font-roboto-condensed,1.6rem,none,$bgColor);
    margin-top:2rem;
    margin-left:2rem;
}
.small-heading{
    @include typo($font-roboto-condensed,2.2rem,bold,$bgColor);
    padding-left:2rem;
}
.inthe-magazine{
    h1{
        position: absolute;
        right:40rem;
    }
    .features-world-row2{
        h2{
            @include typo($font-roboto-condensed,2.0rem,bold,$bgColor);
        }
        a{
            @include typo($font-roboto-condensed,1.6rem,bold,$primaryColor);
        }
    
    }
    .features-world-row1{
        
        @extend .features-world-row2;
        .features-world-col{
            margin-top:4rem;
            border-top:0.1rem solid $lighter;
            padding-top:2rem;
        }
    }
}