/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

*:before {
  box-sizing: inherit; }
*:after {
  box-sizing: inherit; }

.navbar-item {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
  font-weight: bold; }
  .navbar-item .nav-link:hover {
    color: #F72210; }

svg {
  fill: white; }

#header {
  background: red;
  color: white; }

.sign-up-newsletter {
  padding: 1rem;
  background: #555555; }
  .sign-up-newsletter p {
    color: white;
    font-size: 1.7rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: none; }
  .sign-up-newsletter h2 {
    color: white;
    font-size: 1.7rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: none; }
  .sign-up-newsletter img {
    width: 5rem;
    background-color: red; }

.inthe-magazine .row .col-lg-3 img {
  width: 33rem; }

header {
  background: #F72210;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif; }
  header .row div .btn {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.8rem; }

.more-story-container .row {
  border-top: 1px solid #cac7c7;
  padding-top: 2rem; }

.opinion-container .row {
  border-bottom: 1px solid #cac7c7;
  padding-top: 2rem;
  padding-bottom: 1rem; }

a {
  color: black; }

a:hover {
  color: #F72210;
  text-decoration: none; }

.story-heading {
  width: 26rem;
  color: #333333;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }

.news-heading {
  color: #000000;
  font-size: 2.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: none; }

.news-paragraph {
  color: #333333;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none; }

.picture-heading {
  color: #F72210;
  font-size: 1.7rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  position: relative;
  top: -4rem;
  bottom: -4rem;
  padding: 1rem;
  background: #fdf8f8;
  width: 30%; }

.more-story-heading {
  color: #000000;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }

.more-story-paragraph {
  color: #333333;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: none; }

.culture-travel {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #f7f6f6; }
  .culture-travel h4 {
    color: #272727;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
  .culture-travel p {
    color: #272727;
    font-size: 1.5rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: none; }
  .culture-travel a {
    color: #272727;
    font-size: 1.3rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: none;
    background: #dad7d7;
    padding: 0.5rem 1rem; }
    .culture-travel a:hover {
      background: #5f5f5f; }

.features-world-container .features-world-row .features-world-col h2 {
  color: #F72210;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }
.features-world-container .features-world-row .features-world-col a {
  color: #000000;
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }
  .features-world-container .features-world-row .features-world-col a:hover {
    text-decoration: underline;
    text-decoration-color: red; }

.editors-pic-container .editors-row .editors-column a {
  color: #000000;
  font-size: 2.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }
  .editors-pic-container .editors-row .editors-column a:hover {
    text-decoration: underline;
    text-decoration-color: red; }
.editors-pic-container .editors-row .editors-column p {
  color: #000000;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none; }

.slideshow-column {
  color: #000000;
  font-size: 2.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }

.us-col {
  color: #000000;
  font-size: 2.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-bottom: solid 0.1rem #cac7c7; }
  .us-col .side-row {
    color: #000000;
    font-size: 1.4rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    padding: 1rem;
    border-bottom: solid 0.1rem #cac7c7; }

.news-letter1 {
  padding: 2rem 1rem;
  background: #cac7c7; }
  .news-letter1 img:nth-child(2) {
    position: relative;
    top: 1rem;
    left: -10rem; }
  .news-letter1 img:nth-child(1) {
    padding-right: 0;
    padding-left: 7rem; }

.news-letter2 {
  background: #cac7c7; }

/*# sourceMappingURL=app.css.map */
