@media screen and (max-width:768px)
{
   .header-svg{
       width:50%;
   }
   header{
    .fa-bars{
        display:block;
        font-size: 3rem;
        color:white;
        margin-left: 1rem;
    }
}
}

@media screen and (max-width:480px)
{
    .header-svg{
        width:40%;
        position: relative;
        top:2.6rem;
    }
    .red-shape{
        display:none;
    }
    header{
        .fa-bars{
            display:block;
            font-size: 3rem;
            color:white;
            margin-left: 1rem;
        }
    }
 }
 