@media screen and (max-width:768px)
{
    .red-shape{
        display: none;
    }
   .header-svg{
       width:35%;
       position: relative;
       top:3rem;
       left:1rem;
   }
   header{
       width:100%;
      
    .fa-bars{
        display:block;
        font-size: 3rem;
        color:white;
        margin-left: 1rem;
    }
}
}

@media screen and (max-width:480px)
{
    .header-svg{
        width:35%;
        position: relative;
        top:2.9rem;
        height: 90%;
        left:-1rem;
    }
    .red-shape{
        display:none;
    }
    header{
        .fa-bars{
            display:relative;
            left:1rem;
            font-size: 3rem;
            color:white;
            margin-left: 1rem;
        }
    }
    header{
       
    
       .row{
           div{
               .sign-in-btn{
                  height:40%;
                   font-size: 1rem;
                   width:24%;
                   position: relative;
                 
                   top:-2rem;
               }
               }
               .subscribe-btn{
                font-size: 1rem;
                height:80%;
                
                padding:0;
               }
    }
}
}