//********************************************* nav file    *************************************************************************************
//**********************    styling header  *******************************************************************************
header{
.fa-bars{
    display:none;
}
}
.navbar-item{
    font:{
        family: $font-roboto-condensed;
        size:2.1rem;
        weight:bold;
    }
   
}
svg{
    fill:white;
}

// Search input
.has-search{
     @include typo($font-roboto-condensed,1.7rem,none,$primaryColor);
     width:70%;
     transition: width 0.2s;
    
     .fa-search{
         position: relative;
         top:-2rem;
         left:5rem;
     }
}
.red-shape {
    position: absolute;
    top:9.0rem;
    right:0;
    height: 1.9rem;
    width: 15.0rem;
    background-color: #f72210;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    z-index: 4758;
}